nav.navbar.navbar-expand-lg.navbar-dark
  a.navbar-brand.breather-right-x2(
    href="http://www.williamrobertfunk.com/applications/save-the-irl",
    target="_blank")
    img(src="assets/images/logo.png")
  button.navbar-toggler(
    (click)="toggleCollapseState()",
    type="button",
    data-toggle="collapse",
    data-target="#navbarNavDropdown",
    aria-controls="navbarNavDropdown",
    aria-expanded="false",
    aria-label="Toggle navigation")
    span.navbar-toggler-icon
  .collapse.navbar-collapse(
    id="navbarNavDropdown",
    [ngClass]="{'show': showState}")
    ul.navbar-nav((click)="mobileCollapseState()")
      li.nav-item.breather-right(routerLinkActive="active")
        a.nav-link(routerLink="/home") Home
          span.sr-only (current)
      li.nav-item.breather-right(routerLinkActive="active")
        a.nav-link(routerLink="/about") About
div.spacer
div.page
  router-outlet

